@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    border: 1px red solid;
  } */

  body {
    @apply text-slate-100 transition duration-300 ease-in-out;
    scroll-behavior: smooth;
  }
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
